<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="shortcut icon" href="${ctxPath}/static/favicon.ico">
    <script src="${ctxPath}/static/js/jquery.min.js?v=2.1.4"></script>
</head>
<body>
    这里是首页！！！

    <button id = "test" >测试</button>

<script>
    $(function () {
        $("#test").on("click",function () {
            $.ajax({
                type: "POST",
                url: "${ctxPath}/test",
                contentType:"application/json;charset=utf-8",
                data: {a:1,b:{
                    bb:2,
                    cc:3
                }},
                success:function (data) {
                    alert(data)
                },
                dataType: "json"
            })
        })
    })
</script>
</body>
</html>