<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

    <link rel="shortcut icon" href="${ctxPath}/static/favicon.ico">
    <script src="${ctxPath}/static/js/jquery.min.js?v=2.1.4"></script>
</head>
<body>
<img src="/static/favicon.ico">
<form id="form">
        <input id="phone" name="phone" type="text" placeholder="请输入手机号">
        <input id="verifyCode" name="verifyCode" type="text" placeholder="验证码">
        <input id="getVerifyCode" type="button" value="获取验证码">
        <input id="password" name="password" type="password" placeholder="请输入密码">
        <input id="passwordConfirm" name="passwordConfirm" type="password" placeholder="请输入密码">
        <input id="submit" type="button" value="注册">
</form>
    <script>
        $(function () {
            $("#getVerifyCode").on("click",function () {
                alert("获取验证码成功！！！")
            })
            $("#submit").on("click",function () {

                var phone = $("#phone").val();
                var verifyCode=$("#verifyCode").val();
                var password = $("#password").val();
                var passwordConfirm = $("#passwordConfirm").val();
                var data = {phone:phone,verifyCode:verifyCode,password:password,passwordConfirm:passwordConfirm};
                $.ajax({
                    type: "POST",
                    url: "/register",
                    data: data,
                    success:function (data) {
                        alert(data.message)
                        $.ajax({
                            type:"POST",
                            url:"/index",
                            data:data.user
                        })
                    },
                    dataType: "json"
                });
            })
        })
    </script>

</body>
</html>